.container {
  margin: 0 auto;
  text-align: center;
}

#form-div {
  width: 550px;
  display: inline-block;
  text-align: left;
  border: solid 1px;
  padding: 15px;
  margin: 20px;
}

.val-div {
  visibility: hidden;
  color: red;
  text-align: right;
  margin-bottom: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#desc {
  height: 200px;
}